@import "tailwindcss";

html {
    background-color: #101013;
    color: white;
    scroll-behavior: smooth;
}

button {
    cursor: pointer;
}

.poppins-bold {
  font-family: "Poppins", sans-serif;
  font-weight: 700;
  font-style: normal;
}

.poppins-medium {
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  font-style: normal;
}
